ISDEV=true
WLN_NODE=test
WLN_LOG_TYPE=file
WLN_LOG_LOCAL2=file
WLN_LOG_LEVEL=debug
WLN_LOG_SERVER=http://192.168.31.251:3100
WLN_REDIS_DB=0
WLN_REDIS_HOST=192.168.31.251
WLN_CONNSTR_HOST=127.0.0.1
WLN_CONNSTR_UID=ad7b51fbba35061da169f7dff17d8139
WLN_CONNSTR_PWD=a4871d74562ea99cfbb439088d983ab7
WLN_CONNSTR_NAME=test
WLN_TASKER_DELAYS=10,30,60,180,600,1800
