################################################################################
# 此 .gitignore 文件由 Wlniao 创建。
################################################################################

*.log
*.user
xcore.dev.config
.vs
/*/.vscode
/*/bin
/*/obj
/*/Properties
/Wlniao.XCore.Test2
