################################################################################
# 此 .gitignore 文件由 Wlniao 创建。
################################################################################

*.log
*.user
/.vs
/*/.vscode
/*/bin
/*/obj
/*/Properties